.img-car{
    
    object-fit: cover;
    height: 600px;
    width:100%;
}


@media only screen and (max-width: 600px) {
   .img-car{
   
       object-fit: cover;
       height: 350px;
       width: 100%;
       color:rgb(216, 163, 49)
  }
  
 }